# Planejar Refeições com base em uma quantidade de calorias

In [3]:
# imports
import csv
import pandas as pd
import pandasql as ps

## Ler e transformar os valores necessários para o programa

In [4]:
# receber a informção da quantidade de calorias e transformar em int
calories = input("Digite a quantidade de calorias")
try: 
    calories = int(calories)
    print("A quantidade de calorias foi lida com sucesso")
except:
    print("O valor que você digitou não pode ser lido, tente novamente")

A quantidade de calorias foi lida com sucesso

In [5]:
# Definindo a quantidade de macro nutriente com base na quantidade de calorias

protein = (calories*.30)/4
carbohydrate = (calories*.35)/4
lipid = (calories*.35)/9

print(protein, carbohydrate, lipid)

225.0 262.5 116.66666666666667

In [6]:
# Transformar o arquivo csv e um data frame para fazer requisições SQL
taco_table = pd.read_csv('TACO_formatted.csv')

## Requisições na tabela taco

In [7]:
protein_df = ps.sqldf("""
SELECT CAST(protein_g AS FLOAT), id
FROM taco_table
WHERE ((protein_g != "Tr" and protein_g !=  "NA"  and protein_g !=  "*"))
ORDER BY CAST(protein_g AS FLOAT) DESC
LIMIT 100""")

carbohydrate_df = ps.sqldf("""
SELECT CAST(carbohydrate_g AS FLOAT), id
FROM taco_table
WHERE ((carbohydrate_g !=  "NA"  and carbohydrate_g !=  "*") and (category != "Produtos açucarados") and (category != "Bebidas (alcoólicas e não alcoólicas)"))
ORDER BY CAST(carbohydrate_g AS FLOAT) DESC
LIMIT 100""")

lipid_df = ps.sqldf("""
SELECT CAST(lipid_g AS FLOAT), id
FROM taco_table
WHERE ((lipid_g !=  "NA"  and lipid_g !=  "*") and (category != "Produtos açucarados") and (category != "Bebidas (alcoólicas e não alcoólicas)"))
ORDER BY CAST(lipid_g AS FLOAT) DESC
LIMIT 100""")

In [9]:
def get_by_id(id):
    return ps.sqldf(f"""
        SELECT description, category, energy_kcal, carbohydrate_g, protein_g, lipid_g, fiber_g
        FROM taco_table
        where (id == {id})
        """)

get_by_id(100)

,description,category,energy_kcal,carbohydrate_g,protein_g,lipid_g,fiber_g
0,"Brócolis, cozido","Verduras, hortaliças e derivados",24.6361631113688,4.36666666666666,2.13333333333333,0.459,3.41666666666667

In [ ]:
#Escolher de forma aleátoria uma fonte de proteína, ler outros dois macros nutreiente e adequar